
body{
    background-color: rgb(246, 202, 247) !important;
    height: 100vh !important;
}

.contenedorPrincipal{
    position: relative;
    height: 100vh;
}

.positionAbsolute{
    position: absolute;
}

.botonLoco{
    position: absolute;
    transition: top 0.5s ease, left 0.5s ease !important;
}

#mano {
  position: absolute;
  font-size: 30px;
  top: 0px;
  left: 0px;
  transition: transform 0.2s;
  opacity: 0;
}

#divTemporal{
    position: absolute;
    background-color: aliceblue;
    padding: 0.5em;
    border-radius: 5px;
    top:40%;
    display: none;
    z-index: 9999999999;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 999;
}
