
body{
    background-color: rgb(239, 154, 241);
}

.contenedorPrincipal{
    text-align: center;

}

#btnSI{
    background-color: rgb(122, 202, 97);
    color:white;
}

#btnNO{
    background-color: rgb(224, 77, 77);
    color:white;
}