
body{
    background-color: rgb(160, 113, 161) !important;
    height: 100vh !important;
}

.contenedorPrincipal{
    position: relative;
    height: 100vh;
}

#labelTexto{
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.positionAbsolute{
    position: absolute;
}

.botonLoco{
    position: absolute;
    transition: top 0.5s ease, left 0.5s ease !important;
    transition: font-size 0.5 ease !important;
}

#mano {
  position: absolute;
  font-size: 30px;
  top: 0px;
  left: 0px;
  transition: transform 0.2s;
  opacity: 0;
}

#divTemporal{
    position: relative;
    background-color: aliceblue;
    padding: 0.5em;
    border-radius: 5px;
    top:60%;
    display: none;
    z-index: 9999999999;
    text-align: center;
}

#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    z-index: 999;
}

.footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 0.5em;
    width: 100%;
}
